#audio-player-container {
    max-width: 500px;
    margin: auto;
    padding: 0 30px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#audio-player-container audio {
    width: 100%;
}